
body {
    background-color: moccasin;
}

/* Positioning the Header Elements*/
header {
    position: fixed;
    background-color: blue;
    width: 100%;
    top: 0;
    z-index: 50;
}

header h1 {
    color: white;
    font-family: Arial;
    font-size: 2rem;
    position: relative;
    width: 60%;
    display: inline-block;
    margin-left: 15%;
}

header nav {
    display: inline-block;
    width: 20%;
    background-color: red;
    margin: auto;
}

header nav ul {
    list-style-type: none;
    padding: .5% 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    text-align: center;
    width: 49%;
    font-size: 1rem;
}

section {
    background-color: lightgray;
    width: 90%;
    margin-left: 10%;
}

.title {
    width: 100%;
    position: relative;
    margin-top: 100px;
    margin-bottom: 0;
    background-color: lightgray;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-family: arial;
    padding-top: 7px;

}

.title_info {
    background-color: lightgray;
    color: white;
    /* font size not working*/
    font-size: 1rem;
    font-family: arial;
    display: inline-block;
    padding: 2%;
    margin: 0;
    text-align: left;
}

main {
    width: 90%;
    margin-left: 10%;
}
main img:first-of-type {
    width: 100%;
    margin-top: 5px;
}

main img:nth-of-type(n+2) {
    display: inline-block;
    width: 32%;
    height: auto;
    margin: .5%;
}


main p {
    font-size: 1.10rem;
    font-family: cursive;
}


/* Positioning the footer elements*/
footer {
    background-color: rosybrown;
    text-align: center;
    margin: 0;
}

footer * {
    margin: 0;
    width: 100%;
}

footer h4 {
    padding-top: 1%;
    font-size: 1rem;
}

#disclaimer {
    padding: .5% 1%;
    font-size: .75rem;
}

footer nav {
    width: 40%;
    text-align: center;
    padding-bottom: 1%;
    margin: auto;
}

footer nav ul {
    list-style-type: none;
    padding: .5% 0;
}
footer nav ul li {
    display: inline-block;
    text-align: center;
    width: 49%;
    font-size: 1rem;
}


aside {
    background-color: lavender;
    position: fixed;
    left: 1%;
    width: 8%;
    top: 100px;
    text-align: center;
    z-index: 40;
}
aside h3 {
    font-size: 2rem;
}

/* Not resizing logos...*/
.logo {
    width: 10px;
    height: auto;
}



a {
    color: yellow;
}

a:visted {
    color: white;
    text-decoration: none;
}
