
body {
    background-color: moccasin;
    width: 100%;
}

/* Positioning the Header Elements*/
header {
    position: fixed;
    background-color: blue;
    width: 100%;
    top: 0;
    z-index: 50;
    padding: 50px 0;
    margin: 0;
    left: 0;
}

header h1 {
    color: white;
    font-family: Arial;
    font-size: 2rem;
    position: relative;
    width: 70%;
    display: inline-block;
    left: 15%;
    padding: 0;
}

header nav {
    display: inline-block;
    width: 20%;
    background-color: red;
    margin: auto;
    padding: 1% 0;
}

header nav ul {
    list-style-type: none;
    padding: 1% 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    text-align: center;
    width: 49%;
    font-size: 1rem;
}



section {
    background-color: lightgray;
    width: 90%;
    margin-left: 10%;
    margin-top: 160px;
}

.title {
    width: 100%;
    position: relative;
    margin-top: 150px;
    margin-bottom: 0;
    background-color: lightgray;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-family: arial;
    padding-top: 20px;

}

.title_info {
    color: white;
    font-size: 1rem;
    font-family: arial;
    display: inline-block;
    padding: 2% 0 1% 0;
    margin: 0;
    width: 100%;
}
.title_info .author {
  width: 55%;
  padding-left: 1%;
  display: inline-block;
  text-align: left;
}

.title_info p {
  width: 42%;
  padding-right: 1%;
  display: inline-block;
  text-align: right;
}

main {
    width: 90%;
    margin-left: 10%;
}
main > :first-child {
    width: 100%;
    margin-top: 5px;
}

main .center_picture {
  width: 95%;
  margin: auto;
}

/*main img:nth-of-type(n+2) {*/
main .center_picture img {
    display: inline-block;
    width: auto;
    height: 320px;
    margin: 0 2%;
}


main p {
    font-size: 1.10rem;
    font-family: cursive;
    padding: 15px 0;
    line-height: 1.5;
}


/* Positioning the footer elements*/
footer {
    background-color: rosybrown;
    text-align: center;
    margin: 0;
    width: 100%;
}

footer * {
    margin: 0;
    width: 100%;
}

footer h4 {
    padding-top: 1%;
    font-size: 1rem;
}

#disclaimer {
    padding: .5% 2%;
    font-size: .75rem;
    margin-left: 10%;
    width: 80%;
}

footer nav {
    width: 40%;
    text-align: center;
    padding-bottom: 1%;
    margin: auto;
}

footer nav ul {
    list-style-type: none;
    padding: .5% 0;
}

footer nav ul li {
    display: inline-block;
    text-align: center;
    width: 49%;
    font-size: 1rem;
}


aside {
    background-color: lavender;
    position: fixed;
    left: 1%;
    width: 8%;
    top: 160px;
    text-align: center;
    z-index: 40;
}

aside h3 {
    font-size: 1.5rem;
    margin: 0;
}


/* Not resizing logos...*/
a img.logo {
    width: 52%;
    height: auto;
    background-color: purple;
}

a img.logo:last-of-type {
  margin-bottom: 7%;
}



a {
    color: yellow;
}

a:visted {
    color: white;
    text-decoration: none;
}
